sudo: false

language: node_js
node_js:
  - "node"

cache:
  directories:
    - elm-stuff/build-artifacts
    - example/elm-stuff/build-artifacts
    - example/tests/elm-stuff/build-artifacts
    - node_modules

script:
  - npm test
